html{
	background: linear-gradient(#FF5E00, white) no-repeat;
	width: 100%;
	height: 100vh;
}

a{
	text-decoration: none;
	color: inherit;
}

.main-container{
	margin: auto;
	width: 80%;
}

.main{

}

.scoreboard{
	display: block;
	position: relative;
	border: 2px solid #F82B00;
	height: 39px;
	margin-top: 10px;
	width: 950px;
}

.scoreboard ul{
	margin-top: 0;
}

.scoreboard-row{
	margin: 0;
	padding: 0;
}

.scoreboard-row td{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.scoreboard-timeleft{
	width: 100%;
	text-align: left;
	font-family: Verdana;
	font-size: 9px;
	color: #464444;
	background-color: #919191;
	font-weight: bold;
	padding-left: 3px; 
}

.scoreboard-item{
	position: relative;
	height: 35px;
	margin: 0;
	padding: 0 2px 0 0;
	float: left;
	list-style: none;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

.scoreboard-item div{
	position: relative;
	display: inline-block;
	color: #464444;
    background-color: #afafaf;
    font-family: Verdana;
	font-size: 10px;
	height: 39px;
	color: #2f2f2f;
	line-height: 11px;
	float: left;
	margin-right: 0;
	overflow: hidden;
	width: auto;
	padding-right: 0px;
	padding-left: 0px;
	position: relative;
}

.clearfix{
	display: block;
	position: relative;
	margin-top: 0;
}

.top-banner{
	float: left;
	clear: left;
	margin-bottom: 10px;
}

.banner-item:first-child{
	 border-radius: 10px 0 0 10px;
}

.banner-item{
	display: inline-block;
	list-style: none;
	padding-left: 10px;
	float: left;
	border-bottom: 1px #CCC solid;
	margin-left: -5px;
	padding: 8px 10px 7px;
	overflow: hidden;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 18px;
	height: 19px;
	background-color: #000000;
	color: white;
}

.main-content{
	width: 950px;
	height: 100%;
	position: relative;
}


.sc-topics{
	background-color: #fff;
	border-bottom: 1px solid #e2e2e2;
	background-image: linear-gradient(to bottom,#dbdbdb 0,#fff 100%);
	width: 924px;
	margin-right: 0;
	float: left;
	position: relative;
	font-family: verdana,helvetica,arial,sans-serif;
	display: inline-block;
}

.sc-topic-logo{
	background: url(http://a2.espncdn.com/i/sctrends/logo-sc-trends2.png) no-repeat -5px 0;
	width: 144px;
	height: 35px;
	top: -9px;
	display: inline-block;
}

.sc-topics-list{
	float: left;
	overflow: hidden;
	height: 35px;
	white-space: nowrap;
	list-style: none;
	vertical-align: baseline;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.sc-topic-item{
	display: inline-block;
	padding-left: 22px;
	position: relative;
	bottom: 13px;
}

.sub-displays{
	float: left;
	font-size: 13px;
	clear: left;
	text-align: center;
}

.sub-display-item{
	display: inline-block;
	margin: 8px 14px 0 0
}

.sub-text-overlay{
	background-color: black;
	color: white;
	height: 86px;

}

.background-img{
	float: left;
	padding-bottom: 5px;
}

.highlight-overlay{
	height:428px;
	width: 614px;
	position: relative;
	padding: 0;
	margin: 0;
	float: left;
	display: inline-block;
}

.highlight-image{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	height: 342px;
}

.play-button-image{
	width: 40px;
	position: absolute;
	top: 150px;
	left: 270px;
}

.text-overlay{
	background-color: black;
	color: white;
	height: 86px;
	padding-left: 10px;
	padding-right: 10px;
}

.text-overlay h2{
	padding: 0;
	padding-top: 4px;
	margin: 0;
	font-family: arial;
	padding-bottom: 0px;
}

.text-overlay p{
	font-size: 16px;
	padding: 0;
	margin:0;
	padding-top: 3px;
}

.main-topic-link{
	padding-right: 20px;
	text-decoration: underline;
	color: blue;
	font-size: 15px;
}

.right-panel{
	float: right;
	position: relative;
	display: inline-block;
	bottom: 430px;
	right: 54px;
}

.right-list{
	font-size: 14px;
	line-height: 19px;
}

